.chat-page {
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 768px) {
    .chat-page {
        grid-template-columns: 1fr;
    }

    .chat-page .sidebar {
        display: none;
    }

    .chat-page.show-sidebar .sidebar {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
    }

    .chat-page.show-sidebar .chat-window {
        display: none;
    }
}